[user]
    email = colnyshkasmile@gmail.com
    name = Anna Balan
[core]
    editor = vim
[alias]
    hist = log -20 --pretty=format:"%C(yellow)%h%Creset\\ %C(green)%ar%C(cyan)%d\\ %Creset%s%C(yellow)\\ [%cn]" --graph --decorate --all
